registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npmjs-remote/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-release-local
_auth=${NPM_AUTH}
email=${NPM_EMAIL}
always-auth=true